.ticket-list {
  &__wrapper {
    width: 300px;
  }

  &__viewport {
    display: flex;
    flex-direction: column;
    padding-right: 8px;
    margin-bottom: 16px;
    gap: 1rem;
    height: 60vh;
    overflow-y: auto;
    position: relative;
  }
}

mat-card-header {
  padding-bottom: 16px;
}
