<mat-card class="ticket-list-wrapper">
  <mat-card-header>
    <mat-card-title> List Title </mat-card-title>
  </mat-card-header>
  <mat-card-content
    cdkDropList
    [cdkDropListData]="tickets"
    (cdkDropListDropped)="drop($event)"
    class="ticket-list-container"
  >
    @for (ticket of tickets; track $index) {
    <app-ticket-item
      [ticket]="ticket"
      (notifyDelete)="onDeleteTicket($event)"
      (notifyToggleResolve)="onToggleResolve($event)"
      cdkDrag
    />
    }
    <app-ticket-item-adder (notifyAddTicket)="onAddTicket($event)" />
  </mat-card-content>
</mat-card>
