<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="logo" routerLink="/">Marsh</span>
    <span class="spacer"></span>
    @if (firebaseUser()) {
    <button mat-button>{{ appUser()?.username }}</button>
    <button mat-button (click)="OnSignOut()">Sign Out</button>
    <app-debug-button />
    } @else {
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="register">Register</button>
    <button mat-button routerLink="login">Login</button>
    }
  </mat-toolbar-row>
</mat-toolbar>
