<mat-card class="ticket-card__wrapper" appearance="outlined">
  <mat-card-header class="card-header">
    <mat-card-title class="ticket-card__title">{{
      ticket().title
    }}</mat-card-title>
    <div class="ticket-card__action-container">
      <button
        class="ticket-card__button"
        mat-icon-button
        aria-label="Button for bug actions"
        matTooltip="List actions"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu>
        <button mat-menu-item (click)="onDelete()">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  </mat-card-header>
  <mat-card-content> {{ ticket().description }} </mat-card-content>
  <mat-card-actions align="end">
    <mat-checkbox
      class="ticket-card__checkbox"
      [checked]="ticket().isResolved"
      (change)="onToggleResolve()"
      labelPosition="before"
      >Resolved</mat-checkbox
    >
  </mat-card-actions>
</mat-card>
